{% extends "endblock.html" %}

{% block title %}Dashboard avec Graphique{% endblock %}

{% block content %}

        <div class="bg-white rounded-lg shadow-lg p-6">
            <!-- Conteneur pour les graphiques -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Graphique linéaire -->
                <div class="bg-white p-4 rounded-lg">
                    <canvas id="lineChart"></canvas>
                    <input type="text" id="poidsInput" placeholder="Poids du corps" 
                        class="border rounded px-3 py-2 mr-2">
                    <input type="date" id="poidsDateInput" placeholder="Date" 
                        class="border rounded px-3 py-2 mr-2">
                    <button id="addPoidsButton" 
                        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                        Ajouter
                    </button>
                </div>
                <!-- Graphique en barres -->
                <div class="bg-white p-4 rounded-lg">
                    <canvas id="barChart"></canvas>
                    <input type="text" id="caloriesInput" placeholder="Calories" 
                        class="border rounded px-3 py-2 mr-2">
                    <input type="date" id="caloriesDateInput" placeholder="Date" 
                        class="border rounded px-3 py-2 mr-2">
                    <button id="addCaloriesButton" 
                        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                        Ajouter
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block scripts %}
<script src="./../Static-Js/graph_poids.js"></script>
<script src="./../Static-Js/graph_calories.js"></script>
{% endblock %}
</html>
